# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails.

# Core

/core/                                        @Redot-Experimental/core
/core/crypto/                                 @Redot-Experimental/network
/core/debugger/                               @Redot-Experimental/debugger
/core/extension/                              @Redot-Experimental/gdextension
/core/input/                                  @Redot-Experimental/input

# Doc

/doc/                                         @Redot-Experimental/documentation

# Drivers

## Audio
/drivers/alsa/                                @Redot-Experimental/audio
/drivers/alsamidi/                            @Redot-Experimental/audio
/drivers/coreaudio/                           @Redot-Experimental/audio
/drivers/coremidi/                            @Redot-Experimental/audio
/drivers/pulseaudio/                          @Redot-Experimental/audio
/drivers/wasapi/                              @Redot-Experimental/audio
/drivers/winmidi/                             @Redot-Experimental/audio
/drivers/xaudio2/                             @Redot-Experimental/audio

## Rendering
/drivers/d3d12/                               @Redot-Experimental/rendering
/drivers/dummy/                               @Redot-Experimental/rendering
/drivers/egl/                                 @Redot-Experimental/rendering
/drivers/gles3/                               @Redot-Experimental/rendering
/drivers/metal/                               @Redot-Experimental/rendering
/drivers/spirv-reflect/                       @Redot-Experimental/rendering
/drivers/vulkan/                              @Redot-Experimental/rendering

## OS
/drivers/unix/                                @Redot-Experimental/linux-bsd
/drivers/windows/                             @Redot-Experimental/windows

## Misc
/drivers/png/                                 @Redot-Experimental/import

# Editor

/editor/**/*2d*                               @Redot-Experimental/2d-editor
/editor/**/*3d*                               @Redot-Experimental/3d-editor
/editor/**/*audio*                            @Redot-Experimental/audio
/editor/**/*code*                             @Redot-Experimental/script-editor
/editor/**/*debugger*                         @Redot-Experimental/debugger
/editor/**/*dock*                             @Redot-Experimental/docks
/editor/**/*script*                           @Redot-Experimental/script-editor
/editor/**/*shader*                           @Redot-Experimental/shaders
/editor/debugger/                             @Redot-Experimental/debugger
/editor/gui/                                  @Redot-Experimental/usability @Redot-Experimental/gui-nodes
/editor/icons/                                @Redot-Experimental/usability
/editor/import/                               @Redot-Experimental/import
/editor/themes/                               @Redot-Experimental/usability @Redot-Experimental/gui-nodes

# Main

/main/                                        @Redot-Experimental/core

# Misc

/misc/                                        @Redot-Experimental/buildsystem
/misc/extension_api_validation/               @Redot-Experimental/gdextension @Redot-Experimental/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @Redot-Experimental/audio
/modules/interactive_music/doc_classes/       @Redot-Experimental/audio @Redot-Experimental/documentation
/modules/minimp3/                             @Redot-Experimental/audio
/modules/minimp3/doc_classes/                 @Redot-Experimental/audio @Redot-Experimental/documentation
/modules/ogg/                                 @Redot-Experimental/audio
/modules/ogg/doc_classes/                     @Redot-Experimental/audio @Redot-Experimental/documentation
/modules/theora/                              @Redot-Experimental/audio
/modules/theora/doc_classes/                  @Redot-Experimental/audio @Redot-Experimental/documentation
/modules/vorbis/                              @Redot-Experimental/audio
/modules/vorbis/doc_classes/                  @Redot-Experimental/audio @Redot-Experimental/documentation

## Import
/modules/astcenc/                             @Redot-Experimental/import
/modules/basis_universal/                     @Redot-Experimental/import
/modules/bcdec/                               @Redot-Experimental/import
/modules/betsy/                               @Redot-Experimental/import
/modules/bmp/                                 @Redot-Experimental/import
/modules/cvtt/                                @Redot-Experimental/import
/modules/dds/                                 @Redot-Experimental/import
/modules/etcpak/                              @Redot-Experimental/import
/modules/fbx/                                 @Redot-Experimental/import
/modules/fbx/doc_classes/                     @Redot-Experimental/import @Redot-Experimental/documentation
/modules/gltf/                                @Redot-Experimental/import
/modules/gltf/doc_classes/                    @Redot-Experimental/import @Redot-Experimental/documentation
/modules/gltf/tests/                          @Redot-Experimental/import @Redot-Experimental/tests
/modules/hdr/                                 @Redot-Experimental/import
/modules/jpg/                                 @Redot-Experimental/import
/modules/ktx/                                 @Redot-Experimental/import
/modules/squish/                              @Redot-Experimental/import
/modules/svg/                                 @Redot-Experimental/import
/modules/tga/                                 @Redot-Experimental/import
/modules/tinyexr/                             @Redot-Experimental/import
/modules/webp/                                @Redot-Experimental/import

## Network
/modules/enet/                                @Redot-Experimental/network
/modules/enet/doc_classes/                    @Redot-Experimental/network @Redot-Experimental/documentation
/modules/mbedtls/                             @Redot-Experimental/network
/modules/mbedtls/tests/                       @Redot-Experimental/network @Redot-Experimental/tests
/modules/multiplayer/                         @Redot-Experimental/network
/modules/multiplayer/doc_classes/             @Redot-Experimental/network @Redot-Experimental/documentation
/modules/multiplayer/tests/                   @Redot-Experimental/network @Redot-Experimental/tests
/modules/upnp/                                @Redot-Experimental/network
/modules/upnp/doc_classes/                    @Redot-Experimental/network @Redot-Experimental/documentation
/modules/webrtc/                              @Redot-Experimental/network
/modules/webrtc/doc_classes/                  @Redot-Experimental/network @Redot-Experimental/documentation
/modules/websocket/                           @Redot-Experimental/network
/modules/websocket/doc_classes/               @Redot-Experimental/network @Redot-Experimental/documentation

## Physics
/modules/godot_physics_2d/                    @Redot-Experimental/physics
/modules/godot_physics_3d/                    @Redot-Experimental/physics
/modules/jolt_physics/                        @Redot-Experimental/physics

## Rendering
/modules/glslang/                             @Redot-Experimental/rendering
/modules/lightmapper_rd/                      @Redot-Experimental/rendering
/modules/meshoptimizer/                       @Redot-Experimental/rendering
/modules/raycast/                             @Redot-Experimental/rendering
/modules/vhacd/                               @Redot-Experimental/rendering
/modules/xatlas_unwrap/                       @Redot-Experimental/rendering

## Scripting
/modules/gdscript/                            @Redot-Experimental/gdscript
/modules/gdscript/doc_classes/                @Redot-Experimental/gdscript @Redot-Experimental/documentation
/modules/gdscript/icons/                      @Redot-Experimental/gdscript @Redot-Experimental/usability
/modules/gdscript/tests/                      @Redot-Experimental/gdscript @Redot-Experimental/tests
/modules/jsonrpc/                             @Redot-Experimental/gdscript @Redot-Experimental/network
/modules/jsonrpc/tests/                       @Redot-Experimental/gdscript @Redot-Experimental/network @Redot-Experimental/tests
/modules/mono/                                @Redot-Experimental/dotnet
/modules/mono/doc_classes/                    @Redot-Experimental/dotnet @Redot-Experimental/documentation
/modules/mono/icons/                          @Redot-Experimental/dotnet @Redot-Experimental/usability

## Text
/modules/freetype/                            @Redot-Experimental/buildsystem
/modules/msdfgen/                             @Redot-Experimental/buildsystem
/modules/text_server_adv/                     @Redot-Experimental/gui-nodes
/modules/text_server_adv/doc_classes/         @Redot-Experimental/gui-nodes @Redot-Experimental/documentation
/modules/text_server_fb/                      @Redot-Experimental/gui-nodes
/modules/text_server_fb/doc_classes/          @Redot-Experimental/gui-nodes @Redot-Experimental/documentation

## XR
/modules/camera/                              @Redot-Experimental/xr
/modules/mobile_vr/                           @Redot-Experimental/xr
/modules/mobile_vr/doc_classes/               @Redot-Experimental/xr @Redot-Experimental/documentation
/modules/openxr/                              @Redot-Experimental/xr
/modules/openxr/doc_classes/                  @Redot-Experimental/xr @Redot-Experimental/documentation
/modules/webxr/                               @Redot-Experimental/xr
/modules/webxr/doc_classes/                   @Redot-Experimental/xr @Redot-Experimental/documentation

## Misc
/modules/csg/                                 @Redot-Experimental/3d-nodes
/modules/csg/doc_classes/                     @Redot-Experimental/3d-nodes @Redot-Experimental/documentation
/modules/csg/icons/                           @Redot-Experimental/3d-nodes @Redot-Experimental/usability
/modules/gridmap/                             @Redot-Experimental/3d-nodes
/modules/gridmap/doc_classes/                 @Redot-Experimental/3d-nodes @Redot-Experimental/documentation
/modules/gridmap/icons/                       @Redot-Experimental/3d-nodes @Redot-Experimental/usability
/modules/navigation/                          @Redot-Experimental/navigation
/modules/noise/                               @Redot-Experimental/core
/modules/noise/doc_classes/                   @Redot-Experimental/core @Redot-Experimental/documentation
/modules/noise/icons/                         @Redot-Experimental/core @Redot-Experimental/usability
/modules/noise/tests/                         @Redot-Experimental/core @Redot-Experimental/tests
/modules/regex/                               @Redot-Experimental/core
/modules/regex/doc_classes/                   @Redot-Experimental/core @Redot-Experimental/documentation
/modules/regex/icons/                         @Redot-Experimental/core @Redot-Experimental/usability
/modules/regex/tests/                         @Redot-Experimental/core @Redot-Experimental/tests
/modules/zip/                                 @Redot-Experimental/core
/modules/zip/doc_classes/                     @Redot-Experimental/core @Redot-Experimental/documentation

# Platform

/platform/android/                            @Redot-Experimental/android
/platform/android/doc_classes/                @Redot-Experimental/android @Redot-Experimental/documentation
/platform/ios/                                @Redot-Experimental/ios
/platform/ios/doc_classes/                    @Redot-Experimental/ios @Redot-Experimental/documentation
/platform/linuxbsd/                           @Redot-Experimental/linux-bsd
/platform/linuxbsd/doc_classes/               @Redot-Experimental/linux-bsd @Redot-Experimental/documentation
/platform/macos/                              @Redot-Experimental/macos
/platform/macos/doc_classes/                  @Redot-Experimental/macos @Redot-Experimental/documentation
/platform/web/                                @Redot-Experimental/web
/platform/web/doc_classes/                    @Redot-Experimental/web @Redot-Experimental/documentation
/platform/windows/                            @Redot-Experimental/windows
/platform/windows/doc_classes/                @Redot-Experimental/windows @Redot-Experimental/documentation

# Scene

/scene/2d/                                    @Redot-Experimental/2d-nodes
/scene/2d/physics/                            @Redot-Experimental/2d-nodes @Redot-Experimental/physics
/scene/3d/                                    @Redot-Experimental/3d-nodes
/scene/3d/physics/                            @Redot-Experimental/3d-nodes @Redot-Experimental/physics
/scene/animation/                             @Redot-Experimental/animation
/scene/audio/                                 @Redot-Experimental/audio
/scene/debugger/                              @Redot-Experimental/debugger
/scene/gui/                                   @Redot-Experimental/gui-nodes
/scene/main/                                  @Redot-Experimental/core
/scene/resources/2d/                          @Redot-Experimental/2d-nodes
/scene/resources/3d/                          @Redot-Experimental/3d-nodes
/scene/resources/animated*                    @Redot-Experimental/animation
/scene/resources/animation*                   @Redot-Experimental/animation
/scene/resources/audio*                       @Redot-Experimental/audio
/scene/resources/font*                        @Redot-Experimental/gui-nodes
/scene/resources/shader*                      @Redot-Experimental/shaders
/scene/resources/text_*                       @Redot-Experimental/gui-nodes
/scene/resources/visual_shader*               @Redot-Experimental/shaders
/scene/theme/                                 @Redot-Experimental/gui-nodes
/scene/theme/icons/                           @Redot-Experimental/gui-nodes @Redot-Experimental/usability

# Servers

/servers/**/audio_*                           @Redot-Experimental/audio
/servers/**/camera_*                          @Redot-Experimental/xr
/servers/**/debugger_*                        @Redot-Experimental/debugger
/servers/**/navigation_*                      @Redot-Experimental/navigation
/servers/**/physics_*                         @Redot-Experimental/physics
/servers/**/rendering_*                       @Redot-Experimental/rendering
/servers/**/text_*                            @Redot-Experimental/gui-nodes
/servers/**/xr_*                              @Redot-Experimental/xr
/servers/audio/                               @Redot-Experimental/audio
/servers/camera/                              @Redot-Experimental/xr
/servers/debugger/                            @Redot-Experimental/debugger
/servers/navigation/                          @Redot-Experimental/navigation
/servers/rendering/                           @Redot-Experimental/rendering
/servers/text/                                @Redot-Experimental/gui-nodes
/servers/xr/                                  @Redot-Experimental/xr

# Tests

/tests/                                       @Redot-Experimental/tests

# Thirdparty

/thirdparty/                                  @Redot-Experimental/buildsystem

# Buildsystem (After everything to catch all)

/*.*                                          @Redot-Experimental/buildsystem
*.py                                          @Redot-Experimental/buildsystem
SConstruct                                    @Redot-Experimental/buildsystem
SCsub                                         @Redot-Experimental/buildsystem
